In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("retail_data.csv")

# Add total amount column
df['TotalAmount'] = df['Quantity'] * df['Price']

# Summary
print("üîπ Basic Info:")
print(df.info())
print("\nüîπ First 5 Rows:\n", df.head())

# Total sales
total_sales = df['TotalAmount'].sum()
print(f"\nüí∞ Total Sales: ‚Çπ{total_sales}")

# Sales by category
category_sales = df.groupby("Category")["TotalAmount"].sum().sort_values(ascending=False)
print("\nüìä Sales by Category:\n", category_sales)

# Top 5 products by revenue
top_products = df.groupby("Product")["TotalAmount"].sum().sort_values(ascending=False).head(5)
print("\nüèÜ Top 5 Products by Revenue:\n", top_products)

# Unique customers
unique_customers = df['CustomerID'].nunique()
print(f"\nüë• Total Unique Customers: {unique_customers}")

üîπ Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    30 non-null     int64
 1   Date         30 non-null     object
 2   CustomerID   30 non-null     object
 3   Product      30 non-null     object
 4   Category     30 non-null     object
 5   Quantity     30 non-null     int64
 6   Price        30 non-null     int64
 7   TotalAmount  30 non-null     int64
dtypes: int64(4), object(4)
memory usage: 2.0+ KB
None

üîπ First 5 Rows:
    InvoiceNo        Date CustomerID  Product     Category  Quantity  Price  \
0       1001  2025-07-01       C001    Apple    Groceries         3     30
1       1002  2025-07-02       C002    Bread    Groceries         2     25
2       1003  2025-07-03       C003  T-shirt     Clothing         1    250
3       1004  2025-07-04       C004   Laptop  Electronics         1  45000
4       1005  2025-07-05       C005     Milk    Groceries         2     20

   TotalAmount
0           90
1           50
2          250
3        45000
4           40

üí∞ Total Sales: ‚Çπ172717

üìä Sales by Category:
 Category
Electronics    165300
Clothing         6100
Stationery        870
Groceries         447
Name: TotalAmount, dtype: int64

üèÜ Top 5 Products by Revenue:
 Product
Laptop     93000
TV         58000
Monitor    12000
Shirt       2400
Jeans       2000
Name: TotalAmount, dtype: int64

üë• Total Unique Customers: 15